<div class="main-div" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4%">
    <h1>Automatic Pet Detection</h1>
    <h2>Overview</h2>
    <p>The project Automatic Pet Detection With Edge Computing is part of the Cloud Computing SS23 module of Prof. Dr. Christian Baun at the Frankfurt University of Applied Sciences. Further information about the module can be found
        <a href="https://www.christianbaun.de/CGC23/index.html">here</a>.</p>
    <h2>Team Members</h2>
    <p>Vincent Roßknecht, Jonas Hülsmann, Ekrem Bugday, Marco Tenderra, Minh Kien Nguyen, Alexander Atanassov</p>
    <h2>Code Base & Documentation</h2>
    <p>You can find the source code and documentation in our <a href="https://github.com/ccfrauasgr2/pet-detection">GitHub</a> repository. </p>
    <img style="width: 400px; height: 200px;" src="assets/images/fh_logo.png">
</div>