<div class="main-div" fxLayout="column"  fxLayoutGap="5%">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filter
                <mat-icon style="margin-left: 10px;">tune</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!--Filter-->
        <div fxLayout="column" fxLayoutGap="5%">
            <div fxLayout="row" fxLayoutAlign="space-around center" >
                <mat-form-field appearance="fill">
                    <mat-label>type</mat-label>
                    <mat-select [(value)]="type">
                      <mat-option value="all">all</mat-option>
                      <mat-option value="cat">cat</mat-option>
                      <mat-option value="dog">dog</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="date" [max]="maxDate" readonly="true">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="basic" (click)="apply_filter()">Apply</button>
            </div>
        </div>
    </mat-expansion-panel>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="this.new_captures">
        <span>{{this.new_captures}} new {{this.new_captures == 1 ? "capture" : "captures"}}</span>
        <button mat-icon-button color="accent" (click)="this.update_images()"><mat-icon>refresh</mat-icon></button>
    </div>
    <div fxLayout="column"  fxLayoutGap="10%">
        <app-capture *ngFor="let e of this.loaded_images" [entry]="e"></app-capture>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="padding-bottom: 5%;">
        <button mat-fab color="accent" (click)="load_images()">
            <mat-icon>add</mat-icon>
        </button>    
    </div>
</div>